troika/phase2/tags/phase2-0.1/proxy/api.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
/* api
   Generated by gSOAP 2.7.1 from gSOAP_proxy.h
   Copyright (C) 2000-2005, Robert van Engelen, Genivia Inc. All Rights Reserved.
   This part of the software is released under one of the following licenses:
   GPL, the gSOAP public license, or Genivia's license for commercial use.
*/-->
 <schema targetNamespace="urn:GoogleSearch"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:api="urn:GoogleSearch"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
  <complexType name="DirectoryCategory">
   <sequence>
     <element name="fullViewableName" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="specialEncoding" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="ResultElement">
   <sequence>
     <element name="summary" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="URL" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="snippet" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="title" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="cachedSize" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="relatedInformationPresent" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
     <element name="hostName" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="directoryCategory" type="api:DirectoryCategory" minOccurs="1" maxOccurs="1"/>
     <element name="directoryTitle" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="GoogleSearchResult">
   <sequence>
     <element name="documentFiltering" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
     <element name="searchComments" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="estimatedTotalResultsCount" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="estimateIsExact" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
     <element name="resultElements" type="api:ArrayOfResultElement" minOccurs="1" maxOccurs="1" nillable="false"/>
     <element name="searchQuery" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="startIndex" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="endIndex" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="searchTips" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="directoryCategories" type="api:ArrayOfDirectoryCategory" minOccurs="1" maxOccurs="1" nillable="false"/>
     <element name="searchTime" type="xsd:double" minOccurs="1" maxOccurs="1"/>
   </sequence>
  </complexType>
 </schema>

